{% extends "layout.html" %}
{% block content %}
    <div id ="content" class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ HEADDING }}</h2>
          <p class="text-secondary">{{ SECONDARY }}</p>
        </div>
      </div>

      <legend class="border-bottom mb-4">Main section</legend>
      <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <div class="form-group">
                  {{ form.content.label(class="form-control-label") }}

                  {% if form.content.errors %}
                      {{ form.content(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.content.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.content(class="form-control form-control-lg", rows="8") }}
                  {% endif %}
              </div>
          </fieldset>

          <div class="form-group">
              {{ form.file.label() }}
              {{ form.file(class="form-control-file  ml-2") }}
              {% if form.file.errors %}
                {% for error in form.file.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
              {% endif %}
          </div>

          <p class="text-secondary"><br></p>
          <fieldset class="form-group">
              <div class="form-group">
                  {{ form.keyword.label(class="form-control-label") }}

                  {% if form.keyword.errors %}
                      {{ form.keyword(class="form-control form-control-lg is-invalid ") }}
                      <div class="invalid-feedback">
                          {% for error in form.keyword.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.keyword(class="form-control form-control-lg") }}
                  {% endif %}
              </div>

              <div class="form-group">
                  {{ form.pdf_only(class="form-check-input ml-1", type="checkbox") }}
                  {{ form.pdf_only.label(class="form-check-label ml-4") }}
                  {% if form.pdf_only.errors %}
                    {% for error in form.pdf_only.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                  {% endif %}
              </div>
          </fieldset>

          <!-- Javascript function to update the displayed value when the user moves a slider -->
          <script>
                      function outputUpdate(val) {
                      document.querySelector('#val_num_files').innerHTML = parseInt(val);
                      document.querySelector('#val_est_time').innerHTML = parseInt(val*12);
                        }
          </script>
          <div><br>{{ form.num_files.label(class="form-control-label") }}</div>
          <div class="card container">
            <div class="card-header row">
                      <span class="col-sm">Slider</span><span class="col-sm">selected value</span><span class="col-sm">estimated time (s)</span>
            </div>
            <div class="card-body row">
                      <span class="col-sm">{{ form.num_files(min=1, max=40,
                            oninput="outputUpdate(num_files.value)") }}</span>
                      <span id="val_num_files" class="col-sm">{{ form.num_files.data}}</span>
                      <span id="val_est_time" class="col-sm">{{ form.num_files.data*12}}</span>
            </div>

              <!-- {{ form.file.label() }}
              {{ form.file(class="form-control-file") }} -->
              {% if form.num_files.errors %}
                {% for error in form.num_files.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
              {% endif %}
          </div>

          <div><br><br></div>


          <div class="form-group">
              <center>{{ form.submit(class="btn btn-outline-info") }}</center>
          </div>
      </form>
    </div>

    <div class="loading" id="loading">
      <img src="static/loadingimage.gif" alt="" />
      Please wait
      <br><br><br>
    </div>

    <legend class="border-bottom mb-4 ml-1">FAQs</legend>
    <p class="ml-2"><b>How to use?</b></p>
    <p class="ml-4">
      Step 1: Enter the document that you want to check by filling in the text field, or by inserting a Pdf or Txt file.<br>
      Step 2: Enter the keywords for the document.<br>
      Step 3: Select the number of search results that you want the engine to search and compare with your document.<br>
      Step 4: Press 'Start search' button, and the system will handle the rest.<br>
    </p>
    <p class="ml-2"><b>What happens after I press the 'Start search' button?</b></p>
    <p class="ml-4">
      <li class="ml-4">Through Google search API, the system would search for Pdf files using the keywords and the number of search results that was given by the user.</li>
      <li class="ml-4">The files found in the search result would be downloaded and preprocessed for comparison.</li>
      <li class="ml-4"> Each sentence from the input document will be examined to determine whether it is a paraphrase of any sentence in the referential documents.</li>
      <li class="ml-4"> Redirect the user to result page. Delete all the downloaded files, as well as the input document.<br></p>
    <p class="text-secondary ml-1">
      <b>Notice: Since all temporary files are deleted after comparison stage for privacy purpose, the result page can only be loaded once. <br>
        Attempting to reload the result page would trigger redirection to the main page.</b>
    </p>


{% endblock content %}
